<h1>This is an RESTful API for MySQL test</h1>
<p>you may call the following APIs: </p>
<ul class="list-group">
  <li class="list-group-item">
    <a href="/api/posts"><span class="fw-bold">/api/posts</span></a>
  </li>
  <li class="list-group-item">
    <a href="/api/users"><span class="fw-bold">/api/users</span></a>
  </li>
</ul>
      